button {
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background-color: $color-black-light;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
input {
  border-radius: 5px;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
