.filter {
  margin: 25px 0;
  .container {
    .row {
      .card {
        text-align: center;
        a {
          width: 100px;
          height: 25px;
          img {
              width: 100%;
              height: 100%;
          }
        }
      }
      .dropdown {
        margin-right: 20px;
        a {
          padding: 10px;
        }
      }
    }
  }
}
