footer{
    margin-top: 20px;
    ul{
        li{
            list-style-type: none;
        }
    }
    .bottom{
        width: 80%;
        margin: 0 auto;
        p{
            text-align: center;
        }
    }
}