.cartItem {
    .container {
        #tblItem {
            text-align: center;
            border-spacing: 10px;
            #tblHead {
                tr {
                    width: 100%;
                }
            }
            #tblBody {
                tr{
                    td{
                         
                        &:nth-child(1){
                            img {
                                width: 150px;
                                height: 150px;
                            }
                        }
                        &:nth-child(2){
                            width: 25%;
                        }
                        &:nth-child(3){
                            color: orangered;
                        }
                        &:nth-child(4){
                            input{
                                width: 30%;
                            }
                        }
                        &:nth-child(5){
                            color: orangered;
                        }
                    }
                }
            }
            #tblFooter{
                text-align: left;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .container {
            #tblItem {
                text-align: center;
                border-spacing: 2px;
                #tblHead {
                    tr {
                        width: 100%;
                    }
                }
                #tblBody {
                    tr{
                        td{
                             
                            &:nth-child(1){
                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            &:nth-child(3){
                                color: orangered;
                            }
                            &:nth-child(4){
                                input{
                                    width: 3px;
                                }
                            }
                            &:nth-child(5){
                                color: orangered;
                            }
                        }
                    }
                }
                #tblFooter{
                    text-align: left;
                }
            }
        }
    }
}
